# Frontend Environment Variables (Vercel Production)
VITE_API_URL=https://vkbatmain.onrender.com/api/v1
VITE_RAZORPAY_KEY_ID=rzp_live_TTa7F9GaYlk1nt
VITE_GOOGLE_CLIENT_ID=165410470670-0c60mt3fbahdg8mhb3bg7fu7u98f6oem.apps.googleusercontent.com
